body {
  margin:0px;
  background-color:rgba(215, 246, 253, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32 {
  position:absolute;
  left:0px;
  top:831px;
  visibility:hidden;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:500px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1820px;
  height:399px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u34 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:101px;
  width:1820px;
  height:399px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:127px;
  width:678px;
  height:58px;
  display:flex;
  font-size:18px;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:127px;
  width:508px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:right;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:127px;
  width:424px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:right;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:185px;
  width:678px;
  height:58px;
  display:flex;
  font-size:18px;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:242px;
  width:678px;
  height:58px;
  display:flex;
  font-size:18px;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:300px;
  width:678px;
  height:58px;
  display:flex;
  font-size:18px;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:358px;
  width:678px;
  height:58px;
  display:flex;
  font-size:18px;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:415px;
  width:678px;
  height:58px;
  display:flex;
  font-size:18px;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:185px;
  width:508px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:242px;
  width:508px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:300px;
  width:508px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:358px;
  width:508px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:415px;
  width:508px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:right;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:185px;
  width:424px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:right;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:right;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:242px;
  width:424px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:right;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:right;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:300px;
  width:424px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:right;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:right;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:358px;
  width:424px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:right;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:right;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:415px;
  width:424px;
  height:58px;
  display:flex;
  font-size:18px;
  text-align:right;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1740px;
  height:5px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:182px;
  width:1737px;
  height:2px;
  display:flex;
  font-size:18px;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1733px;
  height:2px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:242px;
  width:1732px;
  height:1px;
  display:flex;
  font-size:18px;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1733px;
  height:2px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:300px;
  width:1732px;
  height:1px;
  display:flex;
  font-size:18px;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1733px;
  height:2px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:358px;
  width:1732px;
  height:1px;
  display:flex;
  font-size:18px;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1733px;
  height:2px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:415px;
  width:1732px;
  height:1px;
  display:flex;
  font-size:18px;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1733px;
  height:2px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:473px;
  width:1732px;
  height:1px;
  display:flex;
  font-size:18px;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
  display:flex;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:14px;
  width:249px;
  height:33px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u60 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:14px;
  width:23px;
  height:23px;
  display:flex;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63 {
  position:absolute;
  left:0px;
  top:212px;
}
#u63_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:569px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
  display:flex;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:14px;
  width:249px;
  height:33px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u65 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:14px;
  width:23px;
  height:23px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:137px;
  width:54px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:210px;
  width:57px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:283px;
  width:95px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:376px;
  width:101px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:283px;
  width:22px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u71 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:327px;
  width:42px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u72 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:375px;
  width:72px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u73 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:420px;
  width:81px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u74 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  font-size:20px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:533px;
  width:89px;
  height:36px;
  display:flex;
  font-size:20px;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u76 label {
  left:0px;
  width:100%;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:330px;
  width:17px;
  height:17px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u76_img.selected {
}
#u76.selected {
}
#u76_img.disabled {
}
#u76.disabled {
}
#u76_img.selected.error {
}
#u76.selected.error {
}
#u76_img.selected.hint {
}
#u76.selected.hint {
}
#u76_img.selected.error.hint {
}
#u76.selected.error.hint {
}
#u76_img.mouseOver.selected {
}
#u76.mouseOver.selected {
}
#u76_img.mouseOver.selected.error {
}
#u76.mouseOver.selected.error {
}
#u76_img.mouseOver.selected.hint {
}
#u76.mouseOver.selected.hint {
}
#u76_img.mouseOver.selected.error.hint {
}
#u76.mouseOver.selected.error.hint {
}
#u76_img.mouseDown.selected {
}
#u76.mouseDown.selected {
}
#u76_img.mouseDown.selected.error {
}
#u76.mouseDown.selected.error {
}
#u76_img.mouseDown.selected.hint {
}
#u76.mouseDown.selected.hint {
}
#u76_img.mouseDown.selected.error.hint {
}
#u76.mouseDown.selected.error.hint {
}
#u76_img.mouseOver.mouseDown.selected {
}
#u76.mouseOver.mouseDown.selected {
}
#u76_img.mouseOver.mouseDown.selected.error {
}
#u76.mouseOver.mouseDown.selected.error {
}
#u76_img.mouseOver.mouseDown.selected.hint {
}
#u76.mouseOver.mouseDown.selected.hint {
}
#u76_img.mouseOver.mouseDown.selected.error.hint {
}
#u76.mouseOver.mouseDown.selected.error.hint {
}
#u76_img.focused.selected {
}
#u76.focused.selected {
}
#u76_img.focused.selected.error {
}
#u76.focused.selected.error {
}
#u76_img.focused.selected.hint {
}
#u76.focused.selected.hint {
}
#u76_img.focused.selected.error.hint {
}
#u76.focused.selected.error.hint {
}
#u76_img.selected.disabled {
}
#u76.selected.disabled {
}
#u76_img.selected.hint.disabled {
}
#u76.selected.hint.disabled {
}
#u76_img.selected.error.disabled {
}
#u76.selected.error.disabled {
}
#u76_img.selected.error.hint.disabled {
}
#u76.selected.error.hint.disabled {
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u77 label {
  left:0px;
  width:100%;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:286px;
  width:17px;
  height:17px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u77_img.selected {
}
#u77.selected {
}
#u77_img.disabled {
}
#u77.disabled {
}
#u77_img.selected.error {
}
#u77.selected.error {
}
#u77_img.selected.hint {
}
#u77.selected.hint {
}
#u77_img.selected.error.hint {
}
#u77.selected.error.hint {
}
#u77_img.mouseOver.selected {
}
#u77.mouseOver.selected {
}
#u77_img.mouseOver.selected.error {
}
#u77.mouseOver.selected.error {
}
#u77_img.mouseOver.selected.hint {
}
#u77.mouseOver.selected.hint {
}
#u77_img.mouseOver.selected.error.hint {
}
#u77.mouseOver.selected.error.hint {
}
#u77_img.mouseDown.selected {
}
#u77.mouseDown.selected {
}
#u77_img.mouseDown.selected.error {
}
#u77.mouseDown.selected.error {
}
#u77_img.mouseDown.selected.hint {
}
#u77.mouseDown.selected.hint {
}
#u77_img.mouseDown.selected.error.hint {
}
#u77.mouseDown.selected.error.hint {
}
#u77_img.mouseOver.mouseDown.selected {
}
#u77.mouseOver.mouseDown.selected {
}
#u77_img.mouseOver.mouseDown.selected.error {
}
#u77.mouseOver.mouseDown.selected.error {
}
#u77_img.mouseOver.mouseDown.selected.hint {
}
#u77.mouseOver.mouseDown.selected.hint {
}
#u77_img.mouseOver.mouseDown.selected.error.hint {
}
#u77.mouseOver.mouseDown.selected.error.hint {
}
#u77_img.focused.selected {
}
#u77.focused.selected {
}
#u77_img.focused.selected.error {
}
#u77.focused.selected.error {
}
#u77_img.focused.selected.hint {
}
#u77.focused.selected.hint {
}
#u77_img.focused.selected.error.hint {
}
#u77.focused.selected.error.hint {
}
#u77_img.selected.disabled {
}
#u77.selected.disabled {
}
#u77_img.selected.hint.disabled {
}
#u77.selected.hint.disabled {
}
#u77_img.selected.error.disabled {
}
#u77.selected.error.disabled {
}
#u77_img.selected.error.hint.disabled {
}
#u77.selected.error.hint.disabled {
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:129px;
  width:340px;
  height:39px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78.hint {
}
#u78_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78.disabled {
}
#u78_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78.hint.disabled {
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Standard", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:202px;
  width:340px;
  height:39px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.hint {
}
#u79_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.disabled {
}
#u79_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:39px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.hint.disabled {
}
#u80 label {
  left:0px;
  width:100%;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:382px;
  width:17px;
  height:17px;
  display:flex;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u80_img.selected {
}
#u80.selected {
}
#u80_img.disabled {
}
#u80.disabled {
}
#u80_img.selected.error {
}
#u80.selected.error {
}
#u80_img.selected.hint {
}
#u80.selected.hint {
}
#u80_img.selected.error.hint {
}
#u80.selected.error.hint {
}
#u80_img.mouseOver.selected {
}
#u80.mouseOver.selected {
}
#u80_img.mouseOver.selected.error {
}
#u80.mouseOver.selected.error {
}
#u80_img.mouseOver.selected.hint {
}
#u80.mouseOver.selected.hint {
}
#u80_img.mouseOver.selected.error.hint {
}
#u80.mouseOver.selected.error.hint {
}
#u80_img.mouseDown.selected {
}
#u80.mouseDown.selected {
}
#u80_img.mouseDown.selected.error {
}
#u80.mouseDown.selected.error {
}
#u80_img.mouseDown.selected.hint {
}
#u80.mouseDown.selected.hint {
}
#u80_img.mouseDown.selected.error.hint {
}
#u80.mouseDown.selected.error.hint {
}
#u80_img.mouseOver.mouseDown.selected {
}
#u80.mouseOver.mouseDown.selected {
}
#u80_img.mouseOver.mouseDown.selected.error {
}
#u80.mouseOver.mouseDown.selected.error {
}
#u80_img.mouseOver.mouseDown.selected.hint {
}
#u80.mouseOver.mouseDown.selected.hint {
}
#u80_img.mouseOver.mouseDown.selected.error.hint {
}
#u80.mouseOver.mouseDown.selected.error.hint {
}
#u80_img.focused.selected {
}
#u80.focused.selected {
}
#u80_img.focused.selected.error {
}
#u80.focused.selected.error {
}
#u80_img.focused.selected.hint {
}
#u80.focused.selected.hint {
}
#u80_img.focused.selected.error.hint {
}
#u80.focused.selected.error.hint {
}
#u80_img.selected.disabled {
}
#u80.selected.disabled {
}
#u80_img.selected.hint.disabled {
}
#u80.selected.hint.disabled {
}
#u80_img.selected.error.disabled {
}
#u80.selected.error.disabled {
}
#u80_img.selected.error.hint.disabled {
}
#u80.selected.error.hint.disabled {
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u81 label {
  left:0px;
  width:100%;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:426px;
  width:17px;
  height:17px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u81_img.selected {
}
#u81.selected {
}
#u81_img.disabled {
}
#u81.disabled {
}
#u81_img.selected.error {
}
#u81.selected.error {
}
#u81_img.selected.hint {
}
#u81.selected.hint {
}
#u81_img.selected.error.hint {
}
#u81.selected.error.hint {
}
#u81_img.mouseOver.selected {
}
#u81.mouseOver.selected {
}
#u81_img.mouseOver.selected.error {
}
#u81.mouseOver.selected.error {
}
#u81_img.mouseOver.selected.hint {
}
#u81.mouseOver.selected.hint {
}
#u81_img.mouseOver.selected.error.hint {
}
#u81.mouseOver.selected.error.hint {
}
#u81_img.mouseDown.selected {
}
#u81.mouseDown.selected {
}
#u81_img.mouseDown.selected.error {
}
#u81.mouseDown.selected.error {
}
#u81_img.mouseDown.selected.hint {
}
#u81.mouseDown.selected.hint {
}
#u81_img.mouseDown.selected.error.hint {
}
#u81.mouseDown.selected.error.hint {
}
#u81_img.mouseOver.mouseDown.selected {
}
#u81.mouseOver.mouseDown.selected {
}
#u81_img.mouseOver.mouseDown.selected.error {
}
#u81.mouseOver.mouseDown.selected.error {
}
#u81_img.mouseOver.mouseDown.selected.hint {
}
#u81.mouseOver.mouseDown.selected.hint {
}
#u81_img.mouseOver.mouseDown.selected.error.hint {
}
#u81.mouseOver.mouseDown.selected.error.hint {
}
#u81_img.focused.selected {
}
#u81.focused.selected {
}
#u81_img.focused.selected.error {
}
#u81.focused.selected.error {
}
#u81_img.focused.selected.hint {
}
#u81.focused.selected.hint {
}
#u81_img.focused.selected.error.hint {
}
#u81.focused.selected.error.hint {
}
#u81_img.selected.disabled {
}
#u81.selected.disabled {
}
#u81_img.selected.hint.disabled {
}
#u81.selected.hint.disabled {
}
#u81_img.selected.error.disabled {
}
#u81.selected.error.disabled {
}
#u81_img.selected.error.hint.disabled {
}
#u81.selected.error.hint.disabled {
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:465px;
  width:54px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u83 label {
  left:0px;
  width:100%;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:471px;
  width:17px;
  height:17px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u83_img.selected {
}
#u83.selected {
}
#u83_img.disabled {
}
#u83.disabled {
}
#u83_img.selected.error {
}
#u83.selected.error {
}
#u83_img.selected.hint {
}
#u83.selected.hint {
}
#u83_img.selected.error.hint {
}
#u83.selected.error.hint {
}
#u83_img.mouseOver.selected {
}
#u83.mouseOver.selected {
}
#u83_img.mouseOver.selected.error {
}
#u83.mouseOver.selected.error {
}
#u83_img.mouseOver.selected.hint {
}
#u83.mouseOver.selected.hint {
}
#u83_img.mouseOver.selected.error.hint {
}
#u83.mouseOver.selected.error.hint {
}
#u83_img.mouseDown.selected {
}
#u83.mouseDown.selected {
}
#u83_img.mouseDown.selected.error {
}
#u83.mouseDown.selected.error {
}
#u83_img.mouseDown.selected.hint {
}
#u83.mouseDown.selected.hint {
}
#u83_img.mouseDown.selected.error.hint {
}
#u83.mouseDown.selected.error.hint {
}
#u83_img.mouseOver.mouseDown.selected {
}
#u83.mouseOver.mouseDown.selected {
}
#u83_img.mouseOver.mouseDown.selected.error {
}
#u83.mouseOver.mouseDown.selected.error {
}
#u83_img.mouseOver.mouseDown.selected.hint {
}
#u83.mouseOver.mouseDown.selected.hint {
}
#u83_img.mouseOver.mouseDown.selected.error.hint {
}
#u83.mouseOver.mouseDown.selected.error.hint {
}
#u83_img.focused.selected {
}
#u83.focused.selected {
}
#u83_img.focused.selected.error {
}
#u83.focused.selected.error {
}
#u83_img.focused.selected.hint {
}
#u83.focused.selected.hint {
}
#u83_img.focused.selected.error.hint {
}
#u83.focused.selected.error.hint {
}
#u83_img.selected.disabled {
}
#u83.selected.disabled {
}
#u83_img.selected.hint.disabled {
}
#u83.selected.hint.disabled {
}
#u83_img.selected.error.disabled {
}
#u83.selected.error.disabled {
}
#u83_img.selected.error.hint.disabled {
}
#u83.selected.error.hint.disabled {
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:-4px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:170px;
  background:inherit;
  background-color:rgba(39, 60, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:170px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:152px;
  height:152px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u86_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u86_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u86_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:73px;
  width:203px;
  height:25px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u86.hint {
}
#u86_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u86.disabled {
}
#u86_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u86.hint.disabled {
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1472px;
  top:73px;
  width:203px;
  height:25px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u87.hint {
}
#u87_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u87.disabled {
}
#u87_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u87.hint.disabled {
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:53px;
  width:90px;
  height:15px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u88 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(39, 60, 132, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1472px;
  top:53px;
  width:58px;
  height:15px;
  display:flex;
  font-family:"Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#02A7F0;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1781px;
  top:62px;
  width:73px;
  height:36px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:85px;
  width:23px;
  height:23px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:73px;
  height:40px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:78px;
  width:69px;
  height:36px;
  display:flex;
  color:#02A7F0;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
