/* stylelint-disable selector-class-pattern */
.diagramme {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.diaTitle {
  background-color: var(--themeaccent);
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 80%;
}

.diaCard {
  background-color: var(--themelight);
  margin: 20px;
  width: 80%;
}

.diagrammrender {
  margin: 0 auto;
}

/* stylelint-enable selector-class-pattern */
