<div class="warning-box" *ngIf="showWarning">
  <mat-card>
    <mat-card-title> Warnung </mat-card-title>
    <br />
    Wenn Sie diese Seite verlassen, gehen Ihre Daten verloren.
  </mat-card>
</div>

<div class="box-update">
  <mat-grid-list cols="1" rowHeight="100px">
    <form [formGroup]="updateForm" role="form" (submit)="onSubmit()">
      <mat-grid-tile>
        <h2 class="updateTitle">Einen Kunden aktualisieren</h2>
      </mat-grid-tile>
      <mat-grid-tile>
        <hs-update-nachname 
        class="element-update"
        [updateForm]="updateForm"
        ></hs-update-nachname>
      </mat-grid-tile>
      <mat-grid-tile>
        <hs-update-homepage 
        class="element-update"
        [updateForm]="updateForm"
        ></hs-update-homepage>
      </mat-grid-tile>
      <mat-grid-tile>
        <hs-update-geschlecht 
        class="element-update"
        [updateForm]="updateForm"
        ></hs-update-geschlecht>
      </mat-grid-tile>
      <mat-grid-tile>
        <hs-update-familienstand 
        class="element-update"
        [updateForm]="updateForm"
        ></hs-update-familienstand>
      </mat-grid-tile>
      <mat-grid-tile>
        <button 
          id="buttonUpdate"
          mat-raised-button 
          color="primary" 
          matTooltip="Hier drücken um Kunden zu aktualisieren"
          type="submit"
          (click)="onSubmit()"
          [disabled]="updateForm.invalid"
        >
          Update
        </button>
      </mat-grid-tile>
    </form>
  </mat-grid-list>
</div>
