@use '../../sass/colors';

.cardCreate {
  margin: 20px auto;
  background-color: var(--themelight);
  width: 80%;
}
.carcCreateTitle {
  text-align: center;
}

.box-update {
  width: 100%;
}

.updateTitle {
  background-color: var(-- themeaccent);
  width: 100%;
  text-align: center;
}

.element-update {
  width: 50%;
}

.updateInputField {
  width: 100%;
}

.warning-box {
  width: 80%;
  margin: auto;
  padding-top: 25px;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.cardWarning {
  margin-bottom: 20px;
  background-color: darkorange;
}
