@use '../../sass/colors';

/* stylelint-disable selector-class-pattern, selector-no-qualifying-type, selector-type-no-unknown */
.cardCreate {
  background-color: var(--themelight);
  margin: 20px auto;
  width: 80%;
}

.cardCreateTitle {
  text-align: center;
}

.box-update {
  width: 100%;
}

.updateTitle {
  background-color: var(--themeaccent);
  text-align: center;
  width: 100%;
}

.element-update {
  width: 50%;
}

.updateInputField {
  width: 100%;
}

.warning-box {
  margin: auto;
  padding-top: 25px;
  width: 80%;
}

mat-icon.mat-card-avatar {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.cardWarning {
  background-color: darkorange;
  margin-bottom: 20px;
}

/* stylelint-enable selector-class-pattern, selector-no-qualifying-type, selector-type-no-unknown */
