<mat-form-field
  appearance="outline"
  class="userInputField"
  [formGroup]="createForm"
>
  <mat-label>Familienstand</mat-label>
  <mat-select
    id="familienstandInput"
    formControlName="familienstand"
    [class.is-invalid]="familienstand.invalid && familienstand.touched"
    [class.is-valid]="familienstand.valid && familienstand.touched"
  >
    <mat-option value="L">Ledig</mat-option>
    <mat-option value="VH">Verheiratet</mat-option>
    <mat-option value="G">Geschieden</mat-option>
    <mat-option value="VW">Verwitwet</mat-option>
  </mat-select>
  <mat-hint>Bitte Familienstand auswählen</mat-hint>
</mat-form-field>
