<mat-form-field
  appearance="outline"
  class="userInputField"
  [formGroup]="createForm"
>
  <mat-label for="emailInput">Email</mat-label>
  <input
    id="emailInput"
    matInput
    placeholder="Ihre Email"
    autocomplete="off"
    [class.is-invalid]="email.invalid && email.touched"
    [class.is-valid]="email.valid && email.touched"
    minlength="2"
    formControlName="email"
  />
  <mat-hint>Bitte die Email eingeben</mat-hint>
  <mat-error *ngIf="emailInput.hasError('minlength')">
    Eine Email ist mindestens 2 Zeichen lang.
  </mat-error>
  <mat-error *ngIf="emailInput.hasError('pattern')">
    Eine Email darf so nicht eingegeben werden.
  </mat-error>
</mat-form-field>
