@use '../../sass/colors';

.detailsCard {
  display: flex;
  justify-content: center;
  background-color: var(-- themeaccent);
  font-size: 15pt;
  font-weight: 500;
}
.KundenID {
  font-weight: 700;
}

.BearbeitenButton {
  display: flex;
  justify-content: center;
}
